<% provide(:title, "WebPonto - Usuários") %>

<div class="container">
  <% if notice %>
    <div class="alert alert-warning">
      <%= notice %>
    </div>
  <% end %>

  <h1 class="page-header">Usuarios</h1>

  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Login</th>
          <th>Email</th>
          <th>Senha</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @usuarios.each do |usuario| %>
          <tr>
            <td><%= usuario.nome %></td>
            <td><%= usuario.login %></td>
            <td><%= usuario.email %></td>
            <td><%= usuario.senha %></td>
            <td><%= link_to '', usuario, class: "glyphicon glyphicon-blackboard" %></td>
            <td><%= link_to '', edit_usuario_path(usuario), class: "glyphicon glyphicon-pencil" %></td>
            <td><%= link_to '', usuario, method: :delete, data: { confirm: 'Você tem certeza?' }, class: "glyphicon glyphicon-trash" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <%= link_to 'Criar Usuário', new_usuario_path, class: "btn btn-lg btn-primary" %>
</div>
