<% provide(:title, "WebPonto - #{@usuario.nome}") %>

<div class="container">
  <% if notice %>
    <div class="alert alert-warning">
      <%= notice %>
    </div>
  <% end %>

  <p>
    <strong>Nome:</strong>
    <%= @usuario.nome %>
  </p>

  <p>
    <strong>Login:</strong>
    <%= @usuario.login %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= @usuario.email %>
  </p>

  <p>
    <strong>Senha:</strong>
    <%= @usuario.senha %>
  </p>

  <%= link_to 'Editar', edit_usuario_path(@usuario), class: "btn btn-lg alert-warning" %>
  <%= link_to 'Voltar', usuarios_path, class: "btn btn-lg btn-danger" %>
</div>
