<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @registro.nome %>
</p>

<p>
  <strong>Login:</strong>
  <%= @registro.login %>
</p>

<p>
  <strong>Senha:</strong>
  <%= @registro.senha %>
</p>

<p>
  <strong>Data:</strong>
  <%= @registro.data %>
</p>

<%= link_to 'Edit', edit_registro_path(@registro) %> |
<%= link_to 'Back', registros_path %>
